Source: ros-hydro-ir-drivers
Section: misc
Priority: extra
Maintainer: Social Robots <social.robots@uc3m.es>
Build-Depends: debhelper (>= 9.0.0), cmake
Homepage: 
Standards-Version: 3.9.2

Package: ros-hydro-ir-drivers
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-hydro-catkin
Description: ir drivers third party code for Maggie robot
